PORT = 5000
MONGO_URI=mongodb://localhost:27017/E-Commerce
JWT_SECRET=8f4c2a91e7d63b5a0c1f9e82d4a7b6c3fb2c7f4e6a0d3b8c5e9f1a7 

EMAIL_USER = gmail@gmail.com
EMAIL_PASS = 16DigitPassword


CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET =


RAZORPAY_KEY_ID = 
RAZORPAY_KEY_SECRET =

FRONTEND_URL=http://localhost:3000
NODE_ENV=development